apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: nginx-deployment 
  labels: 
    app: nginx
spec: 
  replicas: 2 
  selector: 
    matchLabels:
      app: nginx 
  template: 
    metadata:
      labels: 
        app: nginx
    spec:
      containers: #multi-container pod
      - name: nginx-container 
        image: nginxdemos/hello:plain-text 
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
spec:
  type: ClusterIP
  ports: 
  - name: http
    port: 8010 #service port
    targetPort: 80 #container port
    protocol: TCP 
  - name: someapp
    port: 8011 #service port
    targetPort: 80 #container port
    protocol: TCP
  selector:
    app: nginx